<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Index.do</welcome-file>
    </welcome-file-list>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.myServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RecipeList</servlet-name>
        <servlet-class>controllers.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecipe</servlet-name>
        <servlet-class>controllers.CreateRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadRecipe</servlet-name>
        <servlet-class>controllers.ReadRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecipe</servlet-name>
        <servlet-class>controllers.UpdateRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecipe</servlet-name>
        <servlet-class>controllers.DeleteRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIngredient</servlet-name>
        <servlet-class>controllers.CreateIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadIngredient</servlet-name>
        <servlet-class>controllers.ReadIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIngredient</servlet-name>
        <servlet-class>controllers.UpdateIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIngredient</servlet-name>
        <servlet-class>controllers.DeleteIngredient</servlet-class>
    </servlet>
    <!-- mappings -->
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controllers.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRecipes</servlet-name>
        <servlet-class>controllers.MyRecipes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeList</servlet-name>
        <url-pattern>/Index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecipe</servlet-name>
        <url-pattern>/createRecipe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadRecipe</servlet-name>
        <url-pattern>/readRecipe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecipe</servlet-name>
        <url-pattern>/updateRecipe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecipe</servlet-name>
        <url-pattern>/deleteRecipe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIngredient</servlet-name>
        <url-pattern>/createIngredient.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadIngredient</servlet-name>
        <url-pattern>/ReadIngredient.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIngredient</servlet-name>
        <url-pattern>/updateIngredient.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIngredient</servlet-name>
        <url-pattern>/deleteIngredient.do</url-pattern>
    </servlet-mapping>
    <!-- end mappings -->
    <context-param>
        <param-name>dbconstring</param-name>
        <!--<param-value>jdbc:mysql://localhost/cs4010</param-value> -->
        <param-value>jdbc:mysql://localhost:3306/cs4010</param-value>
    </context-param>
    <context-param>
        <param-name>dbusername</param-name>
        <param-value>cs4010</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword</param-name>
        <param-value>cs4010</param-value>
    </context-param>
    <context-param>
        <param-name>dbdriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>RecipeImageRootFilePath</param-name>
        <param-value>images/recipes</param-value>
    </context-param>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>controllers.SignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRecipes</servlet-name>
        <url-pattern>/MyRecipes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
